<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New bookstore</title>
</head>
<body>
    <main role="createNewBookstore" class="container">
        <span><h2 align="center">Create new book store</h2></span>
        <form th:action="@{/addBookstore}" th:object="${bookstore}" method="post">
            <label>Name</label>
            <input type="text" id="name" th:field="*{name}"/>

            <label>Type</label>
            <select name="type" id="type" th:field="*{type}" onchange="">
                <option th:each="type : ${T(com.kabilova.bookstores.model.enums.Type).values()}"
                        th:text="${type.getLabel()}"
                        th:value="${type}"/>
            </select>

            <label>Web address</label>
            <input type="text" id="webAddress" th:fiels="*{webAddress}"/>

            <label>Activity</label>
            <select name="activity" th:field="*{activity}" multiple="true">
                <option th:each="activity : ${T(com.kabilova.bookstores.model.enums.Activity).values()}"
                        th:text="${activity.getLabel()}"
                        th:value="${activity}" />
            </select>

            <label>Bulstat</label>
            <input type="text" th:field="*{bulstat}"/>

            <label>City</label>
            <input type="text" th:field="*{city}"/>

            <label>Address</label>
            <input type="text" th:field="*{address}"/>

            <p><input type="button" value="Cancel"/></p>
            <p><input type="submit" value="OK"/></p>
        </form>
    </main>
</body>
</html>